services:
  paper-search-mcp:
    build: .
    ports:
      - "8100:8100"
    volumes:
      - ./downloads:/app/downloads
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - SEMANTIC_SCHOLAR_API_KEY=${SEMANTIC_SCHOLAR_API_KEY}
    restart: always
